@charset "UTF-8";
/* CSS Document */
h1{
	color:#877B6C;
	font-style:italic;
	/*font-size:2em;*/
}
h2{
	color:#FBB040;
	text-transform:uppercase;
	/*font-size: 1.35em;*/
}
h3{
	color:#877B6C;
	text-transform:capitalize;
	/*font-size: 1.15em;*/
}
h4{
	color:#FBB040;
	font-size:1em;
}
p{
	line-height:1.75em;
}
a{
	color:#877B6C;
}
a:hover{
	color:#877B6C;
}

/* Button Color Overrides */
.button {
	background: #443f3a;
	color: #e6e6e6;
	border: 1px solid #e6e6e6;
}
.button:hover{
	background: #333;
}
/* Icon overrides */
.fc-webicon {
	margin-bottom:0px;
}
/* Body */
body{
	background:#f2f2f2;
	font-family:Arial,sans-serif;
	color:#4D4D4D;
}
.container{
	height:100%;		
}
.content{
	margin:0px auto;
	background:white;
	box-shadow: 1px 1px 10px #d2d2d2;
	padding:20px;
}
/* Header */
#header{
	margin-top: 1em;
	overflow:visible;
}
#headerdots{
float:left;
}

/* Main Navigation */
#mainNav{
	background: #443F3A;
}
.nav-bar > li > a:first-child{
padding-left:10px !important;
}

/* Side-nav override(s) */
ul.side-nav li a:hover{
	padding-left:.5em;
}

/* Breadcrumbs */
ul.breadcrumbs{
	background:none;
	border: none;
}
/* Main Content */
#maincontentwrapper{
	position: relative;
	top: -9em;
	z-index: -10;
	margin-bottom: -9em;
}
#maincontent{
	padding: 2em 3em;
	min-height:358px;
}
/* Footer */
.footerwrapper{
	background:transparent;
	height: 40px;
	width:100%;
}
#footer{
	background: #443F3A;
	color: #e6e6e6;
}
#footer ul, #footer ul li ul{
	list-style:none;
}
#footer ul li ul{
	margin-left:10px;
}
#footer li{
	font-size:.75em;
}
#footer a{
	color:#e6e6e6;
}
#footer a:hover{
	color:#FBB040;
	}
/* Testimonial */
.testimonial > h3 {
display: inline-block;
text-align: right;
border-top: 2px solid #FBB040;
border-right: 2px solid #FBB040;
border-left: 2px solid #FBB040;
border-radius: 4px 4px 0px 0pc;
padding: 0.5em;
background: white;
position: relative;
left: 70%;
top: .95em;
font-size: 1.25em;
font-style: italic;
}
.testimonial > blockquote {
border-top: 2px solid #FBB040;
border-left: none;
}
.testimonial > blockquote > cite {
	text-align:right;
}
/* Nivo-slider theme overrides */
.nivo-caption{
	position:absolute;
	bottom:13%;
	padding:10px 30px;
	width:50%;
}