<div id="footer" class='row content'>
		<div class="twelve columns">
			<div class="row">
				<div class="two columns mobile-one">
					<ul>
						<li><a href=''>Who We Are</a>
						<ul>
						<li><a href=''>Beau Keyte</a></li>
						<li><a href=''>Affiliates</a></li>
						</ul>
						</li>
					</ul>
				</div>
				<div class="two columns mobile-one">
					<ul>
						<li><a href=''>What We Do</a>
						<ul>
						<li><a href=''>Value Stream Mapping</a></li>
						<li><a href=''>Collaborative Learning</a></li>
						<li><a href=''>Train-the-Trainer</a></li>
						<li><a href=''>Leadership Coaching</a></li>
						</ul>
						</li>
					</ul>
				</div>				
				<div class="two columns mobile-one">
					<ul>
						<li><a href=''>Who We Serve</a>
						<ul>
						<li><a href=''>Finance</a></li>
						<li><a href=''>Healthcare</a></li>
						<li><a href=''>Administration</a></li>
						<li><a href=''>Manufacturing</a></li>
						</ul>
						</li>
					</ul>
				</div>	
				<div class="two columns mobile-one">
					<ul>
						<li><a href=''>How We Think</a>
						<ul>
							<li><a href=''>Item</a></li>
							<li><a href=''>Item</a></li>
						</ul>
						</li>
					</ul>
				</div>				
				<div class="four columns mobile-four">
					<div class="row">
						<div class="four columns mobile-two"><img src="images/Keyte_Group_logo_large.png" alt="KeyteGroup logo" id="logosmall"/>
					</div>
					<div class="eight columns mobile-two">
						<ul>
							<li><i class="foundicon-phone"></i> 000-000-0000</li>
							<li><i class="foundicon-mail"></i> info@keytegroup.com</li>
							<li>Follow Us: <a href="" class="fc-webicon facebook small">Facebook</a> <a href="" class="fc-webicon twitter small">Twitter</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>