<ul id="mainNav" class="nav-bar">
	<li class="has-flyout">
		<a href="who-we-are.html">Who We Are</a>
		<a href="#" class="flyout-toggle"><span> </span></a>
		<ul class="flyout">
			<li><a href='beau.html'>Beau Keyte</a></li>
			<li><a href=''>Affiliates</a></li>
		</ul>
	</li>
	<li class="has-flyout">
	<a href="">What We Do</a>
	<a href="#" class="flyout-toggle"><span> </span></a>
		<ul class="flyout">
			<li><a href=''>Value Stream Mapping</a></li>
			<li><a href=''>Collaborative Learning</a></li>
			<li><a href='a3.html'>A3 Thinking</a></li>
			<li><a href=''>Leadership Coaching</a></li>
		</ul>
	</li>
	<li class="has-flyout">
	<a href="">Who We Serve</a>
	<a href="#" class="flyout-toggle"><span> </span></a>
		<ul class="flyout">
			<li><a href=''>Finance</a></li>
			<li><a href=''>Healthcare</a></li>
			<li><a href=''>Administration</a></li>
			<li><a href=''>Manufacturing</a></li>
		</ul>
	</li>
	<li class="has-flyout">
	<a href="">How We Think</a>
	<a href="#" class="flyout-toggle"><span> </span></a>
		<ul class="flyout">
			<li><a href=''>Item</a></li>
			<li><a href=''>Item</a></li>
		</ul>
	</li>
	<li class="has-flyout">
	<a href="">Contact Us</a>
	<a href="#" class="flyout-toggle"><span> </span></a>
		<ul class="flyout right">
			<li><i class="foundicon-phone"></i> 000-000-0000</li>
			<li><i class="foundicon-mail"></i> info@keytegroup.com</li>
			<li>Follow Us: <a href="" class="fc-webicon facebook small">Facebook</a> <a href="" class="fc-webicon twitter small">Twitter</a></li>
		</ul>
	</li>
</ul>