---
title: KeyteGroup - Who we are
---
			<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="three columns hide-for-small">
		<%= partial "sidenavWho" %>
	</div>
	<div class="nine columns">
		<ul class="breadcrumbs">
			<li><a href=" ">Home</a></li>
			<li><a href="">Who We Are</a></li>
			<li class="current"><a>Affiliates</a></li>
		</ul>
		<h2>Affiliates</h2>
		<p>Beau works with a network of lorem ipsum sit dolor amet:</p>
		<ul>
			<li>Jim Luckman</li>
			<li>Kirk Paluska</li>
			<li>John Shook</li>
			<li>Tom Shuker</li>
			<li>David Verble</li>
			<li>Karl Ohaus</li>
			<li>Todd Nickel</li>
			<li>Brent Wahba</li>
			<li>Judy Worth</li>
			<li>Michele McLaughlin</li>
		</ul>
		<p>For affiliate profiles, visit <a href='http://www.lean-transform.com/prof_profiles.htm'>Lean Transformations Group</a></p>
	</div>
</div>
				<!-- MAIN CONTENT END -->		