---
title: KeyteGroup - Who we are
---
			<!-- BEGIN MAIN CONTENT -->
<div class="row">
				<div class="three columns hide-for-small">
					<%= partial "sidenavWho" %>
				</div>
				<div class="nine columns">
					<ul class="breadcrumbs">
						<li><a href=" ">Home</a></li>
						<li><a href="">Who We Are</a></li>
						<li class="current"><a>Beau Keyte</a></li>
					</ul>
					<img class="right" src="images/beau.jpg"/>
					<h2> Beau Keyte</h2>
					<p>
					Beau began his "lean" consulting career in the mid-80's in the automotive industry, transitioned to adapting lean techniques to service and administrative processes in 1992, and has since progressed from implementing "tools and techniques" to developing and teaching the kind of self-sufficient "thinking" that challenges work and management processes, improves organizational performance and alignment, and sustains culture change.
</p><p>
In addition to assisting companies in implementing lean strategies, he also trains organizations in a variety of public and private settings. He is currently a faculty member and instructor for curriculums at the Lean Enterprise Institute, the University of Michigan, Ohio State University, and the National Institute of Standards and Technology (NIST.  Beau is the co-author of a number of journal articles and the Shingo-prize winning book The Complete Lean Enterprise: Value Stream Mapping for Office and Administrative Processes.</p> 
<p>Beau holds BSE (naval architecture and marine engineering) and MBA (operations research) degrees from the University of Michigan.
</p>
				</div>
</div>
				</div>
			</div>
				<!-- MAIN CONTENT END -->		