---
title: KeyteGroup - Who We Are
---
<div class="row">
				<div class="three columns hide-for-small">
					<%= partial "sidenavWho" %>
				</div>
				<div class="nine columns">
					<ul class="breadcrumbs">
						<li><a href=" ">Home</a></li>
						<li class="current"><a>Who We Are</a></li>
					</ul>
					<img class="right" src=""/>
					<h1>We Are Hands-On Problem Solvers</h1>
<p>
We are seasoned practitioners, most of whom also own their own consultancies. Unlike many management consulting companies, we don’t have partners selling services and then delegating the actual work to less experienced staff.   We have the flexibility to offer the best person for the application you need, and are committed to keeping the right people in front of you at all times. 
</p><p>
Our network includes over 20 professionals in a wide range of disciplines, including policy deployment, lean strategies, shop floor transformations, enterprise transformations, office and service lean, healthcare lean, human resource strategies, lean costing applications, lean metrics, etc.
</p>

<div class="testimonial">
 <h3>Testimonial</h3>
<blockquote>
“We’ve tended to be functionally organized, yet when we look for lean improvements in order-to-cash and product development, for example, these projects cross over several functional areas.  You start to realize that what is happening throughout the company affects how we meet customer needs.”
<cite>
Office furniture manufacturing client</cite>
</blockquote>
</div>
				</div>
			</div>